/*
* @Author: wine
* @Date:   2018-01-17 14:34:15
* @Last Modified by:   wine
* @Last Modified time: 2018-01-20 10:57:04
*/
/*清除浏览器默认样式  */
*{
	margin: 0;
	padding: 0;
}
body{
	background: #f5f5f5;
}
.screen{
	width: 100%;
	height: 13.77rem;
	background: url(../img/screen.png) no-repeat left bottom,-webkit-linear-gradient(top,#3cbeff,#47e7ff);
	background-size: contain;
	position: relative;
}
.header{
	width: 100%;
	height: 1.58rem;
	
	font-size: 0.6rem;
	font-weight: bold;
	color: #fff;
	/* 文字水平居中 */
	text-align: center;
	line-height: 1.58rem;
}
.screen .tupian {
	width: 0.63rem;
	height: 0.72rem;
	background: red;
	background: url('../img/100.png') no-repeat; 
	background-size: 0.48rem 0.48rem;
	position: absolute;
	top: 0.33rem;
	right: 0.33rem;
}
.screen .box{
	width: 2.1rem;
	height: 1.26rem;
	background: rgb(241,171,98);
	border-radius: 0.19rem;
	margin-left: 0.27rem;
	margin-top: 0.16rem;
	/* 内填充 */
	padding-top: 0.1rem;
	/* 自定义盒模型，解决填充盒子变大问题 */
	box-sizing: border-box;
}
.screen .box h2{
	font-size: 0.3rem;
	color:#fff;
	text-align: center;
}
.screen .box h3{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
}
.screen .wendu{
	width: 100%;
	height: 1.3rem;
	font-size: 1.3rem;
	color: #fff;
	text-align: center;
	margin-top: 0.51rem;
}
.screen .tianqi{
	width: 100%;
	height: 0.58rem;
	font-size: 0.58rem;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-top: 0.46rem;
}
.screen .shidu{
	width: 100%;
	height: 0.36rem;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	margin-top: 0.34rem;
}
.screen .tixing{
	width: 100%;
	height: 0.5rem;
	font-size: 0.5rem;
	color: #fff;
	text-align: center;
	margin-top: 1.27rem;
}
.con1{
	width: 100%;
	height: 2.94rem;
	background: #fff;
	border-bottom: 0.03rem solid #e4e4e4;
	padding-top: 0.72rem;
	padding-left: 0.58rem;
	box-sizing: border-box;
}
.content{
	width:4.85rem;
	height: 1.85rem;
	border-right: 0.03rem solid #e4e4e4;
	padding-right: 0.59rem;
	box-sizing: border-box;
	float: left;
}
/* 后代选择器  伪类选择器
	nth-child（？）第几个孩子
	first child选中第一个孩子
	last child最后一个孩子
 */
.con1 .content:nth-child(2){
	padding-right: 0;
	border-right: none;
	padding-left: 0.59rem;
}
.content .top{
	width: 100%;
	height: 0.59rem;
	/* 弹性布局 */
	display: flex;
	/* 两端对齐 */
	justify-content: space-between;
}
.content .top .day{
	font-size: 0.38rem;
	color: #434343;
	line-height: 0.59rem;
}
.content .top .tem{
	font-size: 0.3rem;
	color: #434343;
	line-height: 0.59rem;
}
.content .buttom{
	width: 100%;
	height: 0.86rem;
	display: flex;
	justify-content: space-between;
}
.content .buttom .temp{
	font-size: 0.36rem;
	color: #434343;
	line-height: 0.86rem;
}
.content .buttom .pic{
	width: 0.48rem;
	height: 0.48rem;
	margin-top: 0.2rem;
	/*background: url('../img/0.png') no-repeat;*/
	background-repeat: no-repeat;
	background-size: 0.48rem 0.48rem;
}
.con2{
	width: 100%;
	height: 3.9rem;
	background: #white;
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
	/* 上右下左填充 */
	padding: 0.91rem 0 0.83rem 0;
	box-sizing: border-box;
	/* 超出部分已滚动条方式滚动 */
	overflow-x: auto;
}
/* 去掉滚动条 */
.con2::-webkit-scrollbar{
	height: 0;
}
.con2 .wrap{
	height: 100%;
	/*水平放置*/
	display: flex;

}
.con2 .wrap .now{
	width: 1.68rem;
	height: 100%;
	/* 禁止缩小 */
	flex-shrink: 0;
	padding-left: 0.59rem;
	padding-right: 0.59rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}
.con2 .wrap .now .now_time{
	font-size:0.24rem ;
	color:#999999 ;
	font-weight: normal;
	text-align: center;
}
.con2 .wrap .now .now_pic{
	width: 1rem;
	height: 1rem;
	/* background: green; */
	background-repeat: no-repeat;
	background-size:1rem 1rem;
	margin: 0 auto;
}
.con2 .wrap .now .now_tem{
	font-size: 0.28rem;
	font-weight: normal;
	color: #999999;
	text-align: center;

}
.con3{
	width: 100%;
	height: 11.22rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom:0.03rem solid #e4e4e4;
	padding: 0.73rem 0 0.94rem 0;
	box-sizing: border-box;
	margin-top: 0.27rem;
	overflow-x: auto;
}
.con3::-webkit-scrollbor{
	height: 0;
}
.con3 .warp{
	height: 100%;
	display: flex;
}
.con3 .warp .recent{
	width: 2.5rem;
	height: 100%;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}
.con3 .warp .recent .recent_time{
	font-size: 0.24rem;
	color: #909090;
	text-align: center;
}
.con3 .warp .recent .recent_wea{
	font-size: 0.36rem;
	color: #909090;
	text-align: center;
}
.con3 .warp .recent .recent_pic{
	width: 0.48rem;
	height: 0.48rem;
	/* background: url('../img/2.png') no-repeat; */
	background-repeat: no-repeat;
	background-size: 0.55rem 0.55rem;
	margin: 0 auto;
}
.con3 .warp .recent .recent_hight{
	font-size: 0.28rem;
	font-weight: bold;
	color: #333333;
	text-align: center;
}
.con3 .warp .recent .recent_low{
	font-size: 0.28rem;
	font-weight: bold;
	color: #333333;
	text-align: center;
}
.con3 .warp .recent .recent_wind{
	font-size: 0.28rem;
	font-weight: bold;
	color: #333333;
	text-align: center;
}
.con3 .warp .recent .recent_level{
	font-size: 0.28rem;
	font-weight: bold;
	color: #333333;
	text-align: center;
}
/* 第二个页面 */
.city_box{
	width: 100%;
	height: 30rem;
	background:#fff;
	position: absolute;
	top: 0;
	left: 0;
}
.city_box .sousuo{
	width: 100%;
	height: 1.26rem;
	border-bottom: 0.04rem solid #e4e4e4;
	padding: 0.18rem 0.49rem 0.18rem 0.35rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.city_box .sousuo .search_box{
	width: 8.62rem;
	height: 0.86rem;
	background: #f2f2f2;
	border-radius: 0.43rem;
}
.city_box .sousuo .button{
	font-size: 0.36rem;
	color: #434343;
	line-height: 0.9rem;
	/* 设置字体 */
	font-family: "微软雅黑";
}
.icon{
	font-size: 0.6rem;
	color: red;
	float: left;
	margin-top: 0.25rem;
	margin-left: 0.3rem;
}
.text{
	height: 100%;
	width: 7.2rem;
	background: #f2f2f2;
	border: none;
	padding-left: 0.28rem;
	float: left;
	box-sizing: border-box;
	
}
.text:focus{
	outline: none;
}
.city_box .main_city{
	width: 100%;
	height: 14rem;
	padding: 0.24rem 0.35rem 0 0.36rem;
	box-sizing: border-box;
	overflow-y: auto;
}

.main_city .title{
	width: 100%;
	height: 1.16rem;
	font-size: 0.38rem;
	color: #434343;
	line-height: 1.16rem;
	/* 字间距 */
	letter-spacing: 0.03rem
}
.main_city .con{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.main_city .con .son{
	width: 3.17rem;
	height: 0.87rem;
	background: #f2f2f2;
	border-radius: 0.32rem;
	font-size: 0.32rem;
	color: #434343;
	text-align: center;
	line-height: 0.87rem;
	float: left;
	margin: 0 0.28rem 0.21rem 0;
}
.main_city .con .son:nth-child(3n){
	margin-right: 0;
}
